[core]
  autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
  name = Alexey Novikov
  email = v@2dubs.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDkGJkk/dT2OCCboJWuuo7+xUWV+hq7V4mgmf6RQKk1R
[github]
  user = velocityzen
[push]
  default = current
[color]
	ui = true
[alias]
  cam = commit -am
  a = add --all
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  p = push
  co = checkout
  s = status --short
  branches = branch -a --color -v
  hash = rev-parse --short HEAD
  lc = log ORIG_HEAD.. --stat --no-merges
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  subs = submodule foreach git pull origin master
  up = "!git remote update -p; git merge --ff-only @{u}"
  first = "!git init && git add . && git commit -am \"🚀\""
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[branch]
	autosetuprebase = always
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
